*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.navbar1, .nav2{
    background-color: #8f00ff;
    color: #fff;
}
.sec3{
    background-color: #fff;
}
.navbar{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
.logo{
    display: flex;
    align-items: center;
}

.list,.menu{
    display: flex;
}
.list{
    list-style: none;
    font-size: 11px;
    margin: auto 0;
   
}
.mbtn{
    margin: auto 0;
    display: none;
}
.list-item{
    margin-right: 20px;
    font-family: Poppins;
    color: #fff;
}
.list-item:hover{
    color: #00bfff;
    cursor: pointer;
}
.logoimg{
    height: 20px;
}
.logo,.bt{
    margin: auto 0;
}
.button-small{
    background-color: #00bfff;
    color: #fff;
    border: none;
    font-size: 10px;
    height: 25px;
    width: 80px;
    margin-left: 20px;
    font-family: Inter;
    font-weight: 100;
}
.container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.left-s{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-s h1>span, .left-s p>span{
display: block;
}
.left-s h1{
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Open Sans;
}
.right-s{
    flex:1.3;
}
.left-s p{
    font-size: 10px;
  font-weight: 400;
    font-family: 'Inter';
}
.second{
    margin-left: 3%;
}

.newleft h1{
    font-size: 25px;

}
.newleft ul>li{
    margin-left: 60px;
}
.newleft ul>li{
    font-weight: 700;
    font-size: 16px;
    font-family: 'OPEN SANS';
}
.newleft{
    margin-left: 115px;
    margin-right: 10px;
    margin-top: 20px;
}
.sub-headlines{
    margin-left: 10px;
}
.arrow1{
color:orange;
}
.arrow2{
    color: green;
}
.arrow3{
    color: skyblue;
}
.headings{
    margin-left: 5px;
    font-weight: 700;
    font-size: 14px;
    font-family: Open Sans;
}
.arrow{
    position: relative;
    top: 3px;
    font-size: 15px;
}
.newleft p{
    margin-left: 25px;
}
.newleft h5{
    margin-bottom: 10px;
}
.wrpr{
    margin-bottom: 30px;
}
.sec4{
    padding-bottom: 50px;
}
.sec4 h1{
    text-align: center;
    font-size: 22px;
    font-family: Open Sans;
    font-weight: 700;
}
.sec4 h1>span{
    display: block;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}
.card1{
    width: 30px;
    filter: invert(75%) sepia(11%) saturate(1000%) hue-rotate(314deg) brightness(86%) contrast(92%);
}
.card2{
    width: 30px;
    filter: invert(40%) sepia(100%) saturate(823%) hue-rotate(334deg) brightness(100%) contrast(100%);
}
.card3{
    filter: invert(34%) sepia(40%) saturate(1000%) hue-rotate(122deg) brightness(80%) contrast(55%);
    width:30px
}
.card4{
    width: 30px;
    filter: invert(34%) sepia(50%) saturate(1000%) hue-rotate(244deg) brightness(100%) contrast(100%);
}
.acard{
    width:40px;
    position:relative;
    left:21px;
    top:23px
}
.divw{
    width:80px;
    height: 80px;
    border-radius: 50%;
}
.dc1{
    background-color:#fce5e5;;
}
.dc2{
    background-color:#fcefef;
}
.dc3{
    background-color: rgb(217 240 242);
}
.dc4{
    background-color: rgb(239, 219, 239);
}
.card{
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 5px 2px #bdb7b7;
}
.divw{
    margin-bottom: 20px;
}
.content{
    padding: 6px 12px;
}
.content p{
    text-align: center;
    font-size: 11px;
    font-family: 'Inter';
}
.content h1{
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width:998px){
.right-s{
    flex: 1;
}
.left-s h1{
    font-size: 37px;
}
.newleft h1{
    font-size: 25px;
}
}
@media screen  and (max-width:768px){
.container{
    flex-direction: column-reverse;
    margin: 0 5%;
    padding-bottom: 20px;
}
.second{
    flex-direction: column;
    margin: 0 5%;
    padding: 20px 0;
}
.left-s{
    margin: 20px 0;
    text-align: center;
    align-items: center;
}
.left-s h1{
    font-size: 30px;
}
.left-s h1>span, .left-s p>span{
    display: inline;
}
.newleft p>span{
    display: block;
}
.sec4{
    margin:0 5%;
    padding-bottom: 30px;
}
.right-s{
    display: flex;
    justify-content: center;
}
.right-s img{
    width: 75%;
}
.newleft h1{
    font-size: 25px;
}
.mbtn{
    display: block;
}
.menu{
    display: none;
}
.navbar{
    margin: 0 5%;
}
}